$purple: #8A4D76;
$pink: #FA7C91;
$brown: #757763;
$card-media-margin: 3rem;
$body-font-size: 1.5rem;
$beige-light: #D0D1CD;
$beige-lighter: #EFF0EB;


.selectedText {
    background: RoyalBlue;
    color: White;
}

html {
    font-size: 1.5rem;
}

.button.is-small {
    font-size: 0.7rem;
}

.input.is-small {
    font-size: 0.7rem;
}
